<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <title>Product</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>

  </head>
  <body>
    <h1><%= product.getName() %></h1>
    <p>Description: <%= product.getDescription() %></p>
    <p>Price: <%= product.getPrice()%> $</p>
    <form action="/addtocart" method="POST" id="addToCart">
      <input type="hidden" name="productId" value="<%= product.getId() %>" />
      <input type="submit" value="Add to cart" />
    </form>
    <p><a href="/cart">Show Cart</a></p>
  </body>
</html>
